body { background-color:#000; font-size:12px; }
a[href="#disabled"] { cursor:not-allowed; }
[background] { background-attachment: fixed; background-repeat: no-repeat; }
a { color:white; }
p:empty { display:none; }
p { margin:0.75em 0; }
font[size="2"] { font-size:12px; }
